body {
    background: rgb(31, 30, 30);
    margin: 0px;
}
#header {
    height: 200px;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: #EEBA23;
}
.borito {
    width: 150px;
    height: 150px;
    padding: 30px;
}

table,td {
    border:solid 2px black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #EEBA23;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
th {
    padding: 20px;
    background-color: #5f4a0a;
    color: whitesmoke;
    border:solid 2px black;
}
h1 {
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 5em;
    position: relative;
    position: absolute;
    right: 50px;
    bottom: 50px;
    margin-bottom: 0px;
}
#mainpic {
    height:200px;
}

#menu {
    background: rgb(22, 22, 22);
}
#content {
    background: rgb(31, 30, 30);
    padding: 30px;
    display: flex;
    justify-content: center;
}

#inputs {
    padding: 30px;
    text-align: center;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

caption {
    font-size: 3em;
}

.egeszsor {
    color:whitesmoke !important;
}

#calculate {
    color: whitesmoke;
}